<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Force HTTPS redirection
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # index.html için özel kural
  RewriteRule ^index\.html$ - [L]

  # Mevcut dosya ve dizinler haricindeki tüm istekleri index.html'e yönlendir
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
